container_commands:
  01express:
    command: "echo AWS Container Commands started, starting Composer install."
  02installComposer:
    command: "php /opt/elasticbeanstalk/support/composer.phar install"
    cwd: "/var/app/ondeck"
  03express:
    command: "echo Composer install completed, starting Laravel migration"
  04migrations:
    command: "php artisan migrate --env=production"
    cwd: "/var/app/ondeck"
    leader_only: true
  05express:
    command: "echo Completed database seeting, Container Commands complete."